<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/user/layouts/common_template}">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/user/css/account/setup.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</th:block>

<div layout:fragment="content">

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<section class="checkout spad">
		<div class="container">
			<div class="checkout__form">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-center">
						<form id="account" th:object="${accountDto}" th:action="@{/account}" method="post">

							<div class="setup-logo text-center">
								<a href="/"><img alt="Male Shop" src="/user/img/logo.png"></a>
							</div>

							<div class="checkout__input">
								<p>
									<label for="username" th:text="#{account.username}">이메일</label>
									<span>*</span>
								</p>
								<input id="username" name="username" th:field="*{username}" type="text" th:placeholder="#{account.placeholder.username}" maxlength="30">
								<div class="error_message">
									<span id="username_error" class="error_text_box"></span>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="password" th:text="#{account.password}">비밀번호</label>
									<span>*</span>
								</p>
								<input id="password" name="password" th:field="*{password}" type="password" th:placeholder="#{account.placeholder.password}" maxlength="20">
								<div class="error_message">
									<span id="password_error" class="error_text_box"></span>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="passwordConfirm" th:text="#{account.passwordConfirm}">비밀번호 확인</label>
									<span>*</span>
								</p>
								<input id="passwordConfirm" name="passwordConfirm" type="password" th:placeholder="#{account.placeholder.passwordConfirm}" maxlength="20">
								<div class="error_message">
									<span id="passwordConfirm_error" class="error_text_box"></span>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="nickname" th:text="#{account.nickname}">이름</label>
									<span>*</span>
								</p>
								<input id="nickname" name="nickname" th:field="*{nickname}" type="text" th:placeholder="#{account.placeholder.nickname}" maxlength="11">
								<div class="error_message">
									<span id="nickname_error" class="error_text_box"></span>
								</div>
							</div>

						</form>
						<div class="register-btn text-center">
							<button id="btn-save" class="site-btn" th:text="#{account.register}">계정 등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

<th:block layout:fragment="script">
	<script src="/user/js/account/register.js"></script>
</th:block>

</html>