<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common_template}">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/user/setup.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</th:block>

<div layout:fragment="content">

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<section class="checkout spad">
		<div class="container">
			<div class="checkout__form">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-center">
						<form id="member" th:action="@{/user/setup}" th:object="${memberDto}" method="post">

							<div class="setup-logo text-center">
								<a href="/"><img alt="Male Shop" src="/img/logo.png"></a>
							</div>

							<div class="checkout__input">
								<p>
									<label for="userId" th:text="#{setup.label.userId}">아이디</label>
									<span>*</span>
								</p>
								<input id="userId" name="userId" th:field="*{userId}" type="text" th:placeholder="#{setup.placeholder.userId}" maxlength="11">
								<div class="error_message">
									<span id="userId_error" class="error_text_box"></span>
									<th:block th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">UserId Error Messages</th:block>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="userPw" th:text="#{setup.label.userPw}">비밀번호</label>
									<span>*</span>
								</p>
								<input id="userPw" name="userPw" th:field="*{userPw}" type="password" th:placeholder="#{setup.placeholder.userPw}" maxlength="20">
								<div class="error_message">
									<span id="userPw_error" class="error_text_box"></span>
									<th:block th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}">UserPw Error Messages</th:block>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="userPwConfirm" th:text="#{setup.label.userPwConfirm}">비밀번호 확인</label>
									<span>*</span>
								</p>
								<input id="userPwConfirm" name="userPwConfirm" type="password" th:placeholder="#{setup.placeholder.userPwConfirm}" maxlength="20">
								<div class="error_message">
									<span id="userPwConfirm_error" class="error_text_box"></span>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="userName" th:text="#{setup.label.userName}">이름</label>
									<span>*</span>
								</p>
								<input id="userName" name="userName" th:field="*{userName}" type="text" th:placeholder="#{setup.placeholder.userName}" maxlength="11">
								<div class="error_message">
									<span id="userName_error" class="error_text_box"></span>
									<th:block th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">UserName Error Messages</th:block>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="phone" th:text="#{setup.label.phone}">전화번호(- 제외)</label>
									<span>*</span>
								</p>
								<input id="phone" name="phone" th:field="*{phone}" type="tel" th:placeholder="#{setup.placeholder.phone}" maxlength="11">
								<div class="error_message">
									<span id="phone_error" class="error_text_box"></span>
									<th:block th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error Messages</th:block>
								</div>
							</div>

							<div class="checkout__input">
								<p>
									<label for="email" th:text="#{setup.label.email}">이메일</label>
									<span>*</span>
								</p>
								<input id="email" name="email" th:field="*{email}" type="email" th:placeholder="#{setup.placeholder.email}">
								<div class="error_message">
									<span id="email_error" class="error_text_box"></span>
									<th:block th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error Messages</th:block>
								</div>
							</div>

						</form>
					</div>
				</div>
				<div class="register-btn text-center">
					<button id="btn-save" class="site-btn" th:text="#{setup.btn.register}">관리자 등록</button>
				</div>
			</div>
		</div>
	</section>

</div>

<th:block layout:fragment="script">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/user/setup.js"></script>
</th:block>

</html>