<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/common_template}">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/user/setup.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</th:block>

<div layout:fragment="content">

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<section class="checkout spad">
		<div class="container">
			<div class="checkout__form">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-center">
						<form id="member" th:action="@{/user/setup}" th:object="${setupDto}" method="post">

							<div class="setup-logo text-center">
								<a href="/"><img alt="Male Shop" src="/img/logo.png"></a>
							</div>

							<div class="checkout__input">
								<p>
									<label th:text="#{setup.label.addr}">주소</label>
									<span>*</span>
								</p>
								<input id="zipCode" name="zipCode" type="text" th:placeholder="#{setup.placeholder.zipCode}" readonly="readonly">
								<input id="addrSt" name="addrSt" type="text" th:placeholder="#{setup.placeholder.addrSt}" readonly="readonly">
								<input id="addrDetail" name="addrDetail" type="text" th:placeholder="#{setup.placeholder.addrDetail}">
								<div class="error_message">
									<span id="addr_error" class="error_text_box"></span>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="register-btn text-center">
					<button id="btn-save" class="site-btn" th:text="#{setup.btn.register_address}">주소 등록</button>
				</div>
			</div>
		</div>
	</section>

</div>

<th:block layout:fragment="script">
	<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/user/setup.js"></script>
</th:block>

</html>