@charset "UTF-8";

.col-center {
	float: none;
	margin: 0 auto;
}

.setup-logo {
	margin: 10px 10px 50px 10px;
	padding: 10px;
}

.register-btn {
	margin: 10px 10px 10px 10px;
	padding: 10px;
}

.addr-input input {
	margin-bottom: 10px;
}

.checkout__input input {
	margin-bottom: 5px;
}

.checkout__input {
	margin-bottom: 30px;
}

.checkout__input p {
	margin-bottom: 0px;
}

.error_message {
	padding: 0px 5px 5px 5px;
	color: red;
}